 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
 @import "tailwindcss";
 @custom-variant dark (&:where(.dark, .dark *));

 /* @plugin "daisyui"; */
 @plugin "daisyui" {
     themes: light --default;
 }

 @plugin "daisyui/theme" {
     name: "light";
     default: true;
     --color-base-200: #718096;
     --color-base-300: #2d3748;
     --color-primary: #db621f;
     --color-secondary: #eb671e;
 }

 .active {
     color: #db621f;
 }

 * {
     font-family: "Inter", sans-serif;
 }